<ng-container *ngIf="isShow">
  <div class="dropdown row col-6">
    <input type="text" placeholder="Search..." [(ngModel)]="searchInput" (keyup)="fetchSeries($event)" />
  </div>

  <ul *ngIf="searchResult.length ;else other_content">
    <div *ngFor="let show of searchResult | slice:0:limit; let i = index">
      <li class="dropdown-item"> {{show.name}}
        <span *ngIf="i==(limit-1) && isShow" (click)="displyFullList()">
          {{searchResult.length-limit}} more...
        </span>
      </li>
    </div>
  </ul>
  <ng-template #other_content>
    <div *ngIf="searchResult.length==0 && searchInput.length!=0">"{{searchInput}}" not found...

      <button *ngIf="privilege" (click)="addCountryToList()">Add & Select</button>
    </div>
  </ng-template>
</ng-container>