
  
<ng-container *ngIf="isShow">

  <input type="text" class="form-control" aria-label="default" aria-describedby="inputGroup-sizing-sm"
      placeholder="Search..." [(ngModel)]="searchInput" (keyup)="fetchSeries($event)" >
    <ul *ngIf="searchResult.length ;else other_content">
      <div *ngFor="let show of searchResult | slice:0:noOfRecordsToShow; let i = index">
        <li  id ="item"(click)= "setSelectedCountry($event)"class="dropdown-item"> {{show.name}}
          <span id = "more-text" *ngIf="i==(noOfRecordsToShow-1) && noOfRecordsToShow != searchResult.length"  class="text-more">
            {{searchResult.length-noOfRecordsToShow}} more...
          </span>
        </li>
      </div>
    </ul>
  <ng-template #other_content>
    <div *ngIf="searchResult.length==0 && searchInput.length!=0" class="add-select">"{{searchInput}}" 
      <span> not found...</span>
      <button class="btn btn-secondary btn-sm" *ngIf="privilege" (click)="addCountryToList()">Add & Select</button>
    </div>
  </ng-template>
</ng-container>