<div class="user-component">
    <h3 class="title-text">USER-PORTAL</h3>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" (click)="openDropDown()">
            {{selectedCountry}}
        </button>

    </div>
    <app-custom-dropdown 
      [countryList]="countryList"
      [privilege]="false"
      [noOfRecordsToShow]="count"
      [isShow]="showDropDown"
      [searchResult]="searchResult" 
      (selectedCountry) = "setSeletedCountry($event)"
      (keyPressed)="filterString($event)">
    </app-custom-dropdown>
</div>