<div class="admin-component">
    <h3 class="title-text">CUSTOM DROPDWON </h3>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" (click)="openDropDown()">
            {{selectedCountry}}
        </button>
    </div>
    <app-custom-dropdown 
    [countryList]="countryList"
    [privilege]="true"
    [noOfRecordsToShow]="count"
    [isShow]="showDropDown"
    [searchInput] ="searchInput"
    [searchResult]="searchResult" 
    (selectedCountry) = "setSeletedCountry($event)"
    (addCountry)="addCountry($event)"
    (OnChangeListner)="filterString($event)">
  </app-custom-dropdown>
  

    <div class="country-lable">
        <span class="title-style">Selected Country: </span>
        <span>{{selectedCountry}}</span>
    </div>
</div>